* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 3px solid #000;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #225ca3;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  margin: 0;
}

header h1 {
  font-size: 1em;
}

header h1 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.1s;
}

header h1 a:hover {
  color: #e2e2e2;
}

main {
  flex: 1;
  padding: 2% 4%;
}

#logout {
  color: white;
}

#logout:hover {
  color: #e2e2e2;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s;
}

.nav-link:hover {
  color: #e2e2e2;
}

.post-list {
  margin: 3rem;
  padding: 0;
}

.regular-link {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color 0.1s;
}

.regular-link:hover {
  color: #3486eb;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.post-creation {
  margin-top: 3rem;
}

.your-posts {
  margin-bottom: 3rem;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-top: 3rem;
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  text-decoration: none;
  color: #225ca3;
}

.edit-link:hover {
  color: #3486eb;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.edit-post {
  margin-top: 3rem;
}

.comment-form {
  margin-bottom: 5%;
}

.comments {
  margin-bottom: 3rem;
}

.comment {
  padding: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.login-form {
  margin-top: 3rem;
}

.signup-form {
  margin-bottom: 3rem;
}

footer {
  border-top: 3px solid #000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #225ca3;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-weight: bold;
}
